{% extends 'base.html'%}
{% block content%}
{{ block.super}}
<div class="container">
    <h1 class="text-center">Welcome to My Gallery</h1>
    <div class='container-fluid d-flex flex-wrap justify-content-center'>
        <h2>All Photos</h2>
        <div class="row">
            {% for photo in photos%}
            <div>
                <a href="{% url 'photo' photo.id %}">               
                    <div class="card col-lg-3 col-md-4 m-2 p-2 shadow-sm" height = '350'>
                        <img src="{{photo.photo_image.url}}" class="card-img-top img-responsive" alt="{{photo.name}}" height='350' width='350' >
                        
                    </div>
                </a>
            </div>
            {% endfor%}
        </div>
    </div>
    
</div>

{% endblock content%}