{% extends 'base.html'%}
{% block content%}
{{ block.super}}
<div class="container">
    <div class="row text-center ">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header ">
                    <h1 class="text-center">{{photo.name}}</h1>
                </div>
                <div class="card-body">
                    <img src="{{photo.image.url}}" class="card-img-top img-thumbnail img-responsive" alt="{{photo.description}}" height='400'width='100%'>
                    <h6 class="text-secondary mt-2 float-left" style="color: white;" >{{photo.description}}</h6>
                </div>
                <div class="card-footer">
                    <input type="text" class="form-control input-sm" value="{{photo.image.url}}" id="myInput">
                        <button onclick="myFunction()" class="btn " style="background-color: teal; margin-top: 2%;">Copy image url</button>
                </div>
            </div>
        </div>
    </div>
    
</div>

<script>
    function myFunction() {
        var copyText = document.getElementById("myInput");
        copyText.select();
        copyText.setSelectionRange(0, 99999)
        document.execCommand("copy");
        alert("URL copied to clipboard ");
    }
</script>
{% endblock content%}