{% extends 'base.html'%}
{% block content%}
{{ block.super}}
<div class="container">
    <h1 class="text-center font-weight-light text-lg-left mt-4 mb-0">Welcome to My Gallery</h1>
    <hr class="mt-2 mb-5">

    <div >
        <h2>{{message}}</h2>
        {% if searched_photos%}
        <div class="row text-center text-lg-left">
            {% for photo in searched_photos%}
            <div class="col-lg-3 col-md-4 col-6">
                <a href="{% url 'photo' photo.id %}" class="d-block mb-4 h-100">
                      <img class="img-fluid img-thumbnail" src="{{photo.image.url}}" alt="{{photo.name}}">
                    </a>
              </div>
           
            {% endfor%}
        </div>
        {% else %}
        <h1 class="text-center font-weight-light text-lg-left mt-4 mb-0" style="color: tomato;">No photos in this category!!!</h1>
        {% endif%}
    </div>
    
</div>

{% endblock content%}